<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Event Invitation</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h2>Let<span>"owner"</span>know you're availability to attend their event<span>"event-name"</span></h2>

    <div>
      <p>Need a little more information about the event?</p><span>"name"</span><p>says....</p><span>"event description"</span>
    </div>

    <div>
    <table>"table showing everyones availability"</table>
    <button name="modify">M</button>
    <button name="modify">M</button>
    </div>
    <div name="add new availability">
      <p>Firstly tell us little about yourself</p>
      <form>
        <input type="text" name="attendee-name" placeholder="Your Name">
        </input>
        <input type="text" name="attendee-email"
        placeholder="Your Email">
        </input>
      </form>
      <table>
        table to select availability....
      </table>
      <button name="add-availability">Add</button>
    </div>

    <div name="modify availability">
      <div>
        <p>Update your availability</p>
        <table>
        table to select availability....
        </table>
      </div>
      <div>
        <p>Hey<span>"name"</span>, firstly just confirm it's you by entering your email below
        </p>
        <form>
          <input type="text" name="attendee-email" placeholder="Your Email">
        </form>
      </div>
      <button name="submit-modification">Modify</button>
    </div>
  </body>
</html>
