<!DOCTYPE html>
<html lang="en">

<head>
  <title>Success!</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/ef0d3f5c2f.js"></script>
</head>

<body id="body">
    <% include ./header %>
  <div id="page-layout">
    <h1>Congratulations!</h1>
    <h2>Event Created</h2>
  <div id="attendeeURL">
    Your event's unique URL: <p id="attendeeURL"> localhost:8080/event/url/<%=eventURL%> </p>
    <div class="copy-button">
    <button onclick="copyToClipboard('#attendeeURL')">Copy</button>
    <script>
      function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
      }
    </script>
    </div>
      <div>Send the link to all your guests to check their availability</div>
  </div>

  <div id="ownerURL">
      Your unique URL: <p id="owner-url">localhost:8080/event/<%=ownerURL%></p>
      <div class="copy-button">
      <button onclick="copyToClipboard('#owner-url')">Copy</button>
      <script>
        function copyToClipboard(element) {
          var $temp = $("<input>");
          $("body").append($temp);
          $temp.val($(element).text()).select();
          document.execCommand("copy");
          $temp.remove();
        }
      </script>
      </div>
      <div>Don't share this link! Use it to make any changes to your event</div>
    </div>
  </div>

</body>

</html>
