<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create your event</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:400,500,700&display=swap" rel="stylesheet">
  <!-- datepicker plugin -->
  <link rel="stylesheet" type="text/css" href="dist/mtr-datepicker.min.css">
  <link rel="stylesheet" type="text/css" href="dist/mtr-datepicker.default-theme.min.css">

  <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->

  <!-- datepicker required file -->
  <script type="text/javascript" src="dist/mtr-datepicker-timezones.min.js"></script>
  <script type="text/javascript" src="dist/mtr-datepicker.min.js"></script>

  <!-- bootstrap required file -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="https://kit.fontawesome.com/ef0d3f5c2f.js"></script>

</head>

<body>

  <div id="page-layout">
    <i class="far fa-clock"></i>
    <div>
      <h2>Planning a New Event?</h2>
      <div class="owner-info">
      <p>Tell me about you</p>
      <form action="/create" method="POST">
        <input type='text' name="creatorName" placeholder='Your Name' />
        <input type='text' name="creatorEmail" placeholder='Your Email' />
      </div>
      <div class="event-info">
        <p>Tell me about your event</p>
        <input type='text' name="eventTitle" placeholder='Choose a name for our Event' />
        <textarea type='text' name="eventDescription" rows='4' placeholder='Let your friends know a little something about your event....'></textarea>
        </div>
        <div class="date-select">
        <p>Select some available dates and time</p>
        <!-- dateTimePicker -->
        <div class="dateTime">
         <!-- style="width:500px;">
          <div class="d-flex"> -->
            <p>Choose the start date/time</p>
            <div id="dateTimePicker" name="startDate"></div>
            <p>And the end date/time</p>
            <div id="dateTimePicker2" name="endDate"></div>
          </div>
        </div>
        <button class="btn btn-primary addTime" type="button" value="Add">Add</button>
      </div>
        <!-- <div>
            <p>Start</p><input type="datetime-local" name="startDate" value="2019-06-01T08:30">
            <p>End</p><input type="datetime-local" name="endDate" value="2019-06-01T08:30">
          </div> -->
        <button class="btn btn-primary submitAll" type="submit">Submit</button>
      </form>
    </div>
  </div>

</body>

</html>
