// See: https://sass-lang.com/

$background: #1f4562;
$creme: #cca773;
$darktext: #082540;
$lightblue: #4f81b1;
$formbackground: #698eb1;

$screen-md: 768px;

#body {
  background-color: $background;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  background-color: $background;
  display: flex;
  border: $background solid 2px;
  margin: 0;
  padding: 0;
  padding-top: 10%;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    height: 100%;
  }

  #icon::before {
    width: 10%;
    font-size: 7rem;
    color: whitesmoke;
  }
}

#page-layout {
  justify-content: center;
  padding: 5%;
  color: whitesmoke;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1.3rem;
  h1 {
    padding-top: 5%;
    justify-content: center;
    font-size: 2.8rem;
    align-content: center;
    text-align: center;
    padding-bottom: 5%;
  }

  h2 {
    justify-content: center;
    font-size: 2.2rem;
    align-content: center;
    text-align: center;
  }

  h3 {
    font-size: 1.8;
    text-align: center;
  }

  p {
    display: flex;
    flex-direction: column;
    display: block;
    text-align: center;
  }
  .invite-layout {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    // align-items: center;

    .availability-table {
      padding-bottom: 10%;
    }
  }
}

.more-info {
  margin-top: 10%;
  margin-bottom: 10%;
}

// add/update btn
button {
  border-radius: 4px;
}

.new-availability {
  .addAttendee {
    margin-top: 20px;
    input {
      width: 80%;
      background-color: lighten($background, 70%);
      margin-top: 5%;
    }
  }
  .updateAttendee {
    margin-top: 20px;
    input {
      width: 80%;
      background-color: lighten($background, 70%);
      margin-top: 5%;
    }
  }
}
.midCheckBox {
  margin-left: 50px;
  margin-top: 0;
}

#title {
  display: flex;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
  align-self: center;
}

head {
  display: flex;
  flex-direction: column;
}

.date-selection {
  font-size: 1.1rem;
}

table.center {
  font-size: 1rem;
  color: $darktext;
  background-color: $formbackground;
  table-layout: fixed;
  text-align: center;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  vertical-align: top;

  p {
    margin: 0%;
  }

  tr {
    padding-left: 5px;
    padding-right: 5px;
    border: 5px;
  }

  th {
    padding-top: 5px;
    max-width: 120px;
    border-right: solid 5px #1f4562;
  }

  .break {
    margin: 0px;
    padding: 0px;
  }

  .from-time {
    border-bottom: solid 5px #1f4562;
  }

  #attendee {
    max-width: 150px;
    min-width: 100px;
  }

  i:before {
    font-size: 1.6rem;
    color: whitesmoke;
  }
  i.fa-users:before {
    color: $darktext;
  }
}

#add {
  background-color: #6ab9d2;
}

#submit {
  background-color: rgb(108, 220, 113);
}

@media only screen and (max-width: 1080px) {
  .invite-layout {
    width: 90%;
  }
}

@media only screen and (min-width: 1081px) {
  .invite-layout {
    width: 60%;
  }
}
