// See: https://sass-lang.com/

$background: #1f4562;
$creme: #cca773;
$darktext: #082540;
$lightblue: #4f81b1;
$formbackground: #698eb1;

#body {
  background-color: $background;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  background-color: $background;
  display: flex;
  border: $background solid 2px;
  margin: 0;
  padding: 0;
  padding-top: 10%;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    height: 100%;
  }

  #icon::before {
    width: 10%;
    font-size: 7rem;
    color: whitesmoke;
  }
}

#page-layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $background;
  align-items: center;
  width: 100%;
  padding: 5%;
  color: whitesmoke;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1.3rem;
}

#form {
  width: 100%;
}


h1 {
  padding-top: 5%;
  justify-content: center;
  font-size: 2.8rem;
  align-content: center;
  text-align: center;
  padding-bottom: 5%;
}

h2 {
  padding-top: 5%;
  justify-content: center;
  font-size: 2.2rem;
  align-content: center;
  text-align: center;
  padding-bottom: 5%;
}

h3 {
  font-size: 1.8;
  text-align: center;
}

p {
  display: flex;
  flex-direction: column;
  display: block;
  text-align: center;
}

.create-div {
  width: 100%;
}

.owner-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
  align-items: center;
  justify-content: center;

  input {
    background-color: lighten($background, 70%);
    width: 100%;
    margin-bottom: 5%;
  }
}

.event-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10%;

  input {
    background-color: lighten($background, 70%);
    width: 100%;
    margin-bottom: 5%;
  }
  textarea {
    background-color: lighten($background, 70%);
    width: 100%;
    padding-bottom: 10%;
    margin-bottom: 5%;
  }
}

.date-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
  height: 80%;

  .dateTime {
    width: 80%;
  }

  #dateTimePicker {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10%;
    background-color: $background;
    height: 80%;
  }

  #dateTimePicker2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10%;
    background-color: $background;
    height: 80%;
  }

  .mtr-default-value {
    background: $lightblue !important;
  }
  .mtr-default-value-name {
    background: $lightblue !important;
  }

  .dateTime p {
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0%;
    height: 80%;
  }

  #select-header {
    margin-bottom: 5%;
  }


    .dateTime {
      width: 80%;
    }

    #dateTimePicker {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 5%;
      padding-right: 5%;
      margin-bottom: 10%;
      background-color: $background;
      height: 80%;
    }

    #dateTimePicker2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 5%;
      padding-right: 5%;
      margin-bottom: 10%;
      background-color: $background;
      height: 80%;
    }

    .mtr-default-value {
      background: $lightblue!important;
    }
    .mtr-default-value-name{
      background: $lightblue!important;
    }
}

#add {
  justify-content: center;
  align-content: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

@media only screen and (max-width: 639px) {
  #form {
    width: 90%;
  }

  p {
    margin-top: 15%;
  }

  .event-info, .date-select, .organiser-details {
    margin-top: 10%;
  }

}

@media only screen and (min-width: 640px) {
  #form {
    width: 60%;
  }
}
