// See: https://sass-lang.com/

$formbackground: #1F4562;

body {
  background-color: $formbackground;
}

header {
  background-color: $formbackground;
  display: flex;

    #icon {
      display: flex;
      font-size: 7rem;
      padding-top: 10%;
      padding-bottom: 5%;
      color: whitesmoke;
      justify-content: center;
      align-items: center;
    }
}

#page-layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #1F4562;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;

  color: whitesmoke;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.3rem;

  h1 {
    padding-top: 5%;
    justify-content: center;
    font-size: 2.8rem;
    align-content: center;
    text-align: center;
    padding-bottom: 5%;
  }

  h2 {
    padding-top: 5%;
    justify-content: center;
    font-size: 2.2rem;
    align-content: center;
    text-align: center;
    padding-bottom: 5%;
  }

  p {
    display: flex;
    flex-direction: column;
    display: block;
    text-align: center;
  }

  .owner-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
    padding-top: 10%;
    align-content: space-around;
    justify-content: center;
    text-align: center;
  }

  .event-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10%;
  }

  input {
    width: 80%;
    background-color: lighten($formbackground, 70%);
    margin-top: 5%;
  }

  textarea {
    width: 80%;
    background-color: lighten($formbackground, 70%);
    margin-top: 5%;
  }

  .date-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;

    #dateTimePicker {
      padding-left: 5%;
      padding-right: 5%;
      margin-bottom: 10%;
      background-color: lighten($formbackground, 70%);
    }

    #dateTimePicker2 {
      padding-left: 5%;
      padding-right: 5%;
      margin-bottom: 10%;
      background-color: lighten($formbackground, 70%);
    }

    .dateTime p {
        margin-bottom: 0%;
  }
}

}


#add .addTime {
  justify-content: center;
  align-content: center;
  margin-bottom: 2.5%;
}


head {
  display: flex;
  flex-direction: column;
}

#attendeeURL {
  text-align: center;

    p {
      margin-bottom: 0%;
    }
    button {
      color: whitesmoke;
    }
}

#ownerURL {
  padding-top: 10%;
  text-align: center;
    p {
      margin-bottom: 0%;
    }
    button {
      color: whitesmoke;
    }
}

.copy-button {
  justify-content: flex-end;
  align-content: flex-end;
  display: inline-block;
  align-items: flex-end;
}
