// See: https://sass-lang.com/

$background: #1f4562;
$creme: #cca773;
$darktext: #082540;
$lightblue: #4f81b1;
$formbackground: #698eb1;

#body {
  background-color: $background;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

header {
  background-color: $background;
  display: flex;
  border: $background solid 2px;
  margin: 0;
  padding: 0;
  padding-top: 10%;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    height: 100%;
  }

  #icon::before {
    width: 10%;
    font-size: 7rem;
    color: whitesmoke;
  }
}

#page-layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $background;
  align-items: center;
  width: 100%;
  padding: 5%;
  color: whitesmoke;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1.3rem;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  padding-top: 5%;
  justify-content: center;
  font-size: 2.8rem;
  align-content: center;
  text-align: center;
  padding-bottom: 5%;
}

h2 {
  padding-top: 5%;
  justify-content: center;
  font-size: 2.2rem;
  align-content: center;
  text-align: center;
  padding-bottom: 5%;
}

h3 {
  font-size: 1.8;
  text-align: center;
}

p {
  display: flex;
  flex-direction: column;
  display: block;
  text-align: center;
}

#head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modify-event {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  padding-bottom: 10%;
  align-items: center;
  justify-content: center;

  p {
    margin-bottom: 5%;
  }

  i:before {
    color: $darktext;
    font-size: 15px;
  }

  button {
    font-size: 10px;
  }

 #name-btn {
   margin-top: 10px;
   margin-left: 10px;
 }

 #description-btn {
  margin-top: 18px;
  margin-left: 10px;
}

  #name {
    background-color: whitesmoke;
    border: none;
    font-style: inherit;
    color: $darktext;
    overflow: scroll;
    height: 45px;
    width: 500px;
  }

  #name:focus {
    outline: none !important;
  }

  #description {
    background-color: $background;
    border: none;
    font-style: inherit;
    color: $darktext;
    background-color: whitesmoke;
    overflow: scroll;
    resize: none;
    margin-top: 10px;
    width: 500px;
  }

  #description:focus {
    outline: none !important;
  }
}

table.center {
  font-size: 1rem;
  color: $darktext;
  background-color: $formbackground;
  table-layout: fixed;
  text-align: center;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;


  p {
    margin: 0%;
  }

  tr {
    padding-left: 5px;
    padding-right: 5px;
    border: 5px;
  }

  th {
    padding-top: 5px;
    max-width: 120px;
    border-right: solid 5px #1F4562;
  }

  .break {
    margin: 0px;
    padding: 0px;
  }

  .from-time {
    border-bottom: solid 5px #1F4562;
  }


  #attendee {
    max-width: 150px;
    min-width: 100px;
  }

  .fa-check-circle:before {
    font-size: 1.6rem;
    color: #1a781a;
  }

  .fa-times-circle:before {
    font-size: 1.6rem;
    color: #aa2e21;
  }
  i.fa-users:before {
    color: $darktext;
  }
}

.no-attendees {
  padding-top: 10%;
}

@media only screen and (max-width: 1080px) {
  .organiser-page {
    width: 90%;
  }

  p {
    margin-top: 15%;
  }

  #body {
    font-size: 50px;
  }

  h1 {
    margin-bottom: 10%;
  }
  #form {
    margin-top: 15%;
  }

  .modify-event {
    padding-top: 0%;
  }
}

@media only screen and (min-width: 1081px) {
  .organiser-page {
    width: 70%;
  }
}
